<a href="https://colab.research.google.com/github/jeffgaspillo13/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro to Python Programming

In [2]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

##Python Variable

In [8]:
x = 1
a, b = 0, 1
a,b,c= "zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [13]:
d = "Sally" #This is a string
D = "Ana"
print(d)
e= 'John'
print(e)
print(D)

Sally
John
Ana

In [10]:
print(type(d)) #This is a type of function
print(type(x))

<class 'str'>
<class 'int'>

##Casting

In [6]:
f = float(4)
print(f)
g = int(5)
print(g)

4.0
5

##Multiple Variables with One Value

In [14]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [20]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

##Operations in Python

In [16]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x+y)
print(x*y)
print(x)

19
84
12

In [17]:
x = 5
y = 7

not(x>y or y==x)

True

In [18]:
x is y

False

In [19]:
x is not y

True